<h1> Login </h1>

<form action="/login" method="POST">
    
    <label for="username"><b> Username: </b></label>
    <br>
    <input type="text" name="username" />
    <br>

    <label for="password"><b> Password: </b><label>
    <br>
    <input type="password" name="password" />
    <br>

    <br>
    <input type="submit" id="Login">
    <br>

    <br>
    <small><a href="/logout"> LOGOUT </a></small>
    <br>
    
</form>